// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.border-rounded {
  border-radius: 10px;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.377);
}

.bg-main {
  background-color: #061528;
}

.text-tiny {
  font-size: 10px;
}
